[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tortoise-orm = "*"
vkbottle = {file = "https://github.com/timoniq/vkbottle/archive/master.zip"}
loguru = "*"

[requires]
python_version = "3.8"
